<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Project1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h2><%= link_to "Project 1", root_path %></h2>
			</div>
			<div id="menu">
				<ul>
				    <li><%= link_to 'Home', root_path %></li>
				    <li><%= link_to 'Edit User', edit_user_registration_path %></li>
				    <li><%= link_to 'Tasks', tasks_path %></li>
				    <% if current_user %>
				      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li> 
				    <% else %>
				      <li><%= link_to 'Sign In', new_user_session_path %></li> 
				    <% end %>
				               
				</ul>
			</div>
		</div>
	</div>
	<div id="page">
	   <div id="page-bgtop">
	      <div id="page-bgbtm">       
		      <div id="content">
               <p class="notice"><%= notice %></p>
               <p class="error"><%= alert %></p>
			      <%= yield %>
		      </div>
		
		      <div id="sidebar">
		         <%= yield :sidebar %>
		      </div>
            <div style="clear: both;" ></div>
		      
		   </div>
	   </div>      
	</div>
	<div id='footer'>
	   <p>This Site is made by Dhaval Miyani and Rajavi Shah. Copyright protected!</p>
	</div>	
</div>

</body>
</html>
